[package]
name = "fs-kitty-codegen"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
publish = false

[dependencies]
fs-kitty-proto = { path = "../fs-kitty-proto" }
roam-codegen = { git = "https://github.com/bearcove/roam", branch = "main" }
